<header class="main">
	<div class="container">
		<a href="{{ site.url }}"><img class="logo" src="{{ logo }}"></a>
	</div>
	<span class="mobile-nav-trigger"></span>
</header>
{% include 'views/components/mobile_nav.twig' %}