{# <img class="team-slider" src="{{ bloginfo('stylesheet_directory') }}/style/images/team-screen.jpg"/> #}
<ul class="team-slider">
	{% for member in feed %}
	<li class="member slide">
		<div class="slide-container" style="background-image:url({{ member.background.url }});">
		</div>
	{% endfor %}
</ul>