{# <img class="team-slider" src="{{ bloginfo('stylesheet_directory') }}/style/images/team-screen.jpg"/> #}
<ul class="team-slider">
	{% for member in feed %}
	<li class="member slide">
		<div class="slide-container" style="background-image:url({{ member.background.url }});">
			<div class="info">
				<span class="name"><span class="close"></span>{{ member.name }}</span>
				<ul class="control">
					<li>Stats</li>
					<li>Bio</li>
					<li><span class="play"></span></li>
				</ul>
			</div>
		</div>
	{% endfor %}
</ul>