{# {{ dump(slide) }} #}
<li class="video videojs">
	{% if slide.service == "YouTube" %}
		<div class="thumb">
		<img src="http://img.youtube.com/vi/{{ slide.id }}/0.jpg"/>
		</div>
	{% endif %}
	<div class="md-modal md-effect-13" id="modal-13">
		<div class="md-content">
			{% if slide.service == "YouTube" %}
				<iframe width="800" height="600" data-src="https://www.youtube.com/embed/{{ slide.id }}" frameborder="0" allowfullscreen></iframe>
			{% endif %}				
			<button class="md-close"></button>
		</div>
	</div>
	<div class="md-overlay"></div>
</li>