<div class="page-background" style="background-image: url({{ post.get_field("background").url }})"></div>
<div class="container">
	{{ header }}
	<div class="blogroll">
		{{ blog_list }}
		{{ blog_roll }}
	</div>
</div>