/*

Team Slider

*/

.team-slider{
 	display: -webkit-flex;
 	display:         flex;
	white-space: nowrap;
	text-align: center;
	.slide{
		flex: 1;
		position:relative;
		display: inline-block;
		transform: skew(-18deg);
		height: 540px;
		// width: 20%;
		overflow: hidden;
		transition: 500ms all ease-in-out;
		&:hover, &.open{
			-webkit-flex: 10; 
			flex: 10; 
			.slide-container{
				.info{
					opacity: 1;
					bottom: 0;
					transition-delay: 500ms;
				}
			}
		}
		&.open .slide-container .close{
			top: 60px;
		}
		.slide-container{
			position: absolute;
			width: 1200px;
			height: 100%;
			left: -100px;
			margin: auto;
			transform: skew(18deg);
			background-size: cover;
			background-position: top left;

			span.close{
				display: inline-block;
				vertical-align: middle;
				font-family: "FontAwesome";
				width: 30px;
				height: 30px;
				margin-right: 10px;
				border: 1px solid white;
				border-radius: 50%;
				position: absolute;
				top: 0px;
				right: 200px;
				transition: 300ms top linear;
				&:before{
					content: $close;
					font-family: "FontAwesome";
					color: white;
					display: inline-block;
					font-size: 16px;
					position: absolute;
					top: 0;
					bottom: 0;
					left: 0;
					right: 0;
					margin: auto;
					width: 0.9em;
					height: 1em;
				}
			}

			.info{
				position: absolute;
				bottom: 0;
				left: 0;
				width: 100%;
				background: $redopaque;
				color: white;
				opacity:0;
				transition: 250ms all 200ms;
				bottom: -50px;
				padding: 20px;
				font-size: 16px;
				line-height: 1.3em;
				
				.name{
					float:left;
					margin-left: 50px;

					width: 400px;
					text-align: left;
					@include header2;
					margin-top: 5px;
				}
				.control{
					float: left;
					margin-left: 120px;
					li{
						display: inline-block;
						vertical-align: middle;
						padding: 0 10px;
						&:not(:first-child){
							border-left: 1px solid white;
						}
						.play{
							display: block;
							width: 25px;
							height: 25px;
							background: $play-button-white;
							background-size: contain;
							background-repeat: no-repeat;
						}
					}

				}
			}
		}
	}
}