/*

Team Slider

*/

.team-slider{
	display: flex;
	white-space: nowrap;
	text-align: center;
	.slide{
		flex: 1;
		position:relative;
		display: inline-block;
		transform: skew(-18deg);
		height: 540px;
		// width: 20%;
		overflow: hidden;
		transition: 500ms all ease-in-out;
		&:hover, &.open{
			flex: 10; 
			.slide-container .info{
				opacity: 1;
				bottom: 0;
				transition-delay: 500ms;
			}
		}
		.slide-container{
			position: absolute;
			width: 1200px;
			height: 100%;
			left: -100px;
			margin: auto;
			transform: skew(18deg);
			background-size: cover;
			background-position: top left;

			.info{
				position: absolute;
				bottom: 0;
				left: 0;
				width: 100%;
				background: $redopaque;
				opacity:0;
				transition: 250ms all 200ms;
				bottom: -50px;
				padding: 20px;
				font-size: 16px;
				line-height: 1.3em;
				.name{
					float:left;
					margin-left: 120px;
					width: 400px;
					text-align: left;
					color: $black;
					@include header2;
					margin-top: 5px;
				}
				.control{
					float: left;
					margin-left: 120px;
					li{
						display: inline-block;
						vertical-align: middle;
						padding: 0 10px;
						&:not(:first-child){
							border-left: 1px solid $black;
						}
						.play{
							display: block;
							width: 25px;
							height: 25px;
							background: $play-button;
							background-size: contain;
							background-repeat: no-repeat;
						}
					}

				}
			}
		}
	}
}