@charset "UTF-8";
/*
Theme Name: NCCF - Spark Child
Template: Spark15
*/
/* line 5, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/**

Style Guide

**/
/* line 1, style/sass/component/_modal.scss */
.md-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 50%;
  width: 630px;
  height: auto;
  z-index: 2000;
  visibility: hidden;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

/* line 19, style/sass/component/_modal.scss */
.md-show {
  visibility: visible;
}

/* line 23, style/sass/component/_modal.scss */
.md-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  visibility: hidden;
  top: 0;
  left: 0;
  z-index: 1000;
  opacity: 0;
  background: rgba(0, 0, 0, 0.7);
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

/* line 38, style/sass/component/_modal.scss */
.md-show ~ .md-overlay {
  opacity: 1;
  visibility: visible;
}

/* Effect 13: 3D slit */
/* line 44, style/sass/component/_modal.scss */
.md-effect-13.md-modal {
  -webkit-perspective: 1300px;
  -moz-perspective: 1300px;
  perspective: 1300px;
}

/* line 50, style/sass/component/_modal.scss */
.md-effect-13 .md-content {
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform: translateZ(-3000px) rotateY(90deg);
  -moz-transform: translateZ(-3000px) rotateY(90deg);
  -ms-transform: translateZ(-3000px) rotateY(90deg);
  transform: translateZ(-3000px) rotateY(90deg);
  opacity: 0;
  background: black;
  padding: 20px;
  border-radius: 5px;
}

/* line 65, style/sass/component/_modal.scss */
.md-content button {
  border: none;
  padding: 0.6em 1.2em;
  background: #404040;
  color: #fff;
  font-family: 'Lato', Calibri, Arial, sans-serif;
  font-size: 1em;
  letter-spacing: 1px;
  text-transform: uppercase;
  cursor: pointer;
  display: block;
  margin: 10px auto;
  border-radius: 2px;
}

/* line 80, style/sass/component/_modal.scss */
.md-show.md-effect-13 .md-content {
  -webkit-animation: slit .7s forwards ease-out;
  -moz-animation: slit .7s forwards ease-out;
  animation: slit .7s forwards ease-out;
}

@-webkit-keyframes slit {
  50% {
    -webkit-transform: translateZ(-250px) rotateY(89deg);
    opacity: .5;
    -webkit-animation-timing-function: ease-out;
  }
  100% {
    -webkit-transform: translateZ(0) rotateY(0deg);
    opacity: 1;
  }
}
@-moz-keyframes slit {
  50% {
    -moz-transform: translateZ(-250px) rotateY(89deg);
    opacity: .5;
    -moz-animation-timing-function: ease-out;
  }
  100% {
    -moz-transform: translateZ(0) rotateY(0deg);
    opacity: 1;
  }
}
@keyframes slit {
  50% {
    transform: translateZ(-250px) rotateY(89deg);
    opacity: 1;
    animation-timing-function: ease-in;
  }
  100% {
    transform: translateZ(0) rotateY(0deg);
    opacity: 1;
  }
}
/*

Team Slider

*/
/* line 7, style/sass/component/_team-slider.scss */
.team-slider {
  display: -webkit-flex;
  display: flex;
  white-space: nowrap;
  text-align: center;
}
/* line 12, style/sass/component/_team-slider.scss */
.team-slider .slide {
  flex: 1;
  position: relative;
  display: inline-block;
  transform: skew(-18deg);
  height: 540px;
  overflow: hidden;
  transition: 500ms all ease-in-out;
}
/* line 21, style/sass/component/_team-slider.scss */
.team-slider .slide:hover, .team-slider .slide.open {
  -webkit-flex: 10;
  flex: 10;
}
/* line 24, style/sass/component/_team-slider.scss */
.team-slider .slide:hover .slide-container .info, .team-slider .slide.open .slide-container .info {
  opacity: 1;
  bottom: 0;
  transition-delay: 500ms;
}
/* line 30, style/sass/component/_team-slider.scss */
.team-slider .slide .slide-container {
  position: absolute;
  width: 1200px;
  height: 100%;
  left: -100px;
  margin: auto;
  transform: skew(18deg);
  background-size: cover;
  background-position: top left;
}
/* line 40, style/sass/component/_team-slider.scss */
.team-slider .slide .slide-container .info {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: rgba(230, 0, 49, 0.85);
  color: white;
  opacity: 0;
  transition: 250ms all 200ms;
  bottom: -50px;
  padding: 20px;
  font-size: 16px;
  line-height: 1.3em;
}
/* line 53, style/sass/component/_team-slider.scss */
.team-slider .slide .slide-container .info span.close {
  display: inline-block;
  vertical-align: middle;
  font-family: "FontAwesome";
  width: 30px;
  height: 30px;
  margin-right: 10px;
  border: 1px solid;
  border-radius: 50%;
  position: relative;
}
/* line 63, style/sass/component/_team-slider.scss */
.team-slider .slide .slide-container .info span.close:before {
  content: "";
  font-family: "FontAwesome";
  display: inline-block;
  font-size: 16px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0.9em;
  height: 1.3em;
}
/* line 78, style/sass/component/_team-slider.scss */
.team-slider .slide .slide-container .info .name {
  float: left;
  margin-left: 50px;
  width: 400px;
  text-align: left;
  font-size: 30px;
  font-family: "Lato";
  text-transform: uppercase;
  margin-top: 5px;
}
/* line 87, style/sass/component/_team-slider.scss */
.team-slider .slide .slide-container .info .control {
  float: left;
  margin-left: 120px;
}
/* line 90, style/sass/component/_team-slider.scss */
.team-slider .slide .slide-container .info .control li {
  display: inline-block;
  vertical-align: middle;
  padding: 0 10px;
}
/* line 94, style/sass/component/_team-slider.scss */
.team-slider .slide .slide-container .info .control li:not(:first-child) {
  border-left: 1px solid white;
}
/* line 97, style/sass/component/_team-slider.scss */
.team-slider .slide .slide-container .info .control li .play {
  display: block;
  width: 25px;
  height: 25px;
  background: url("style/images/play_button_white.png");
  background-size: contain;
  background-repeat: no-repeat;
}

/*

Team Accordion

*/
/* line 7, style/sass/component/_team-accordion.scss */
.team-accordion {
  position: relative;
  width: 100%;
}
/* line 10, style/sass/component/_team-accordion.scss */
.team-accordion .bios {
  position: absolute;
  z-index: 1000;
  display: block;
  width: 500px;
  min-height: 100%;
  color: white;
  background: rgba(0, 0, 0, 0.85);
  left: -130px;
  transform: skew(-18deg);
}
/* line 20, style/sass/component/_team-accordion.scss */
.team-accordion .bios .accordion {
  padding-left: 130px;
  padding-top: 50px;
  transform: skew(18deg);
}
/* line 24, style/sass/component/_team-accordion.scss */
.team-accordion .bios .accordion .member-bio {
  width: 250px;
}
/* line 26, style/sass/component/_team-accordion.scss */
.team-accordion .bios .accordion .member-bio .name {
  font-size: 30px;
  font-family: "Lato";
  text-transform: uppercase;
  font-family: "Lato";
  font-weight: bold;
  cursor: pointer;
}
/* line 32, style/sass/component/_team-accordion.scss */
.team-accordion .bios .accordion .member-bio .stats {
  height: 0;
  overflow: hidden;
  font-size: 14px;
  transition: 500ms height ease-out 0, 0ms margin-top ease-out 450ms, 200ms opacity linear 550ms;
  opacity: 0;
  line-height: 1.3em;
  text-transform: uppercase;
}
/* line 41, style/sass/component/_team-accordion.scss */
.team-accordion .bios .accordion .member-bio .stats .label {
  font-weight: bold;
}
/* line 44, style/sass/component/_team-accordion.scss */
.team-accordion .bios .accordion .member-bio .stats .description {
  margin-top: 1.5em;
  text-transform: none;
}
/* line 50, style/sass/component/_team-accordion.scss */
.team-accordion .bios .accordion .member-bio.open .name {
  color: #c7c900;
}
/* line 53, style/sass/component/_team-accordion.scss */
.team-accordion .bios .accordion .member-bio.open .stats {
  height: 290px;
  margin-top: 10px;
  opacity: 1;
  transition-delay: 0 opacity;
}
/* line 63, style/sass/component/_team-accordion.scss */
.team-accordion .pics {
  position: relative;
  top: 0;
  width: 100%;
  height: 800px;
}
/* line 68, style/sass/component/_team-accordion.scss */
.team-accordion .pics .accordion {
  display: -webkit-flex;
  flex-direction: column;
  height: 100%;
}
/* line 73, style/sass/component/_team-accordion.scss */
.team-accordion .pics .member-pic {
  -webkit-flex: 1;
  flex: 1;
  background-size: cover;
  transition: 500ms flex linear;
}
/* line 78, style/sass/component/_team-accordion.scss */
.team-accordion .pics .member-pic.open {
  flex: 100%;
}

/* line 12, style/sass/style.scss */
html body {
  font-family: 'Lato';
  font-size: 16px;
  background: black;
}
/* line 17, style/sass/style.scss */
html body > * {
  box-sizing: border-box;
}

/* line 22, style/sass/style.scss */
a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
}
/* line 26, style/sass/style.scss */
a:hover {
  color: #c7c900;
}

/* line 31, style/sass/style.scss */
.container {
  width: 1200px;
  display: block;
  position: relative;
  margin: auto;
  overflow: hidden;
}

/* line 41, style/sass/style.scss */
header {
  height: 90px;
  width: 100%;
  background: black;
  position: relative;
  z-index: 2000;
}
/* line 47, style/sass/style.scss */
header .logo {
  position: absolute;
  display: block;
  left: 50px;
  top: 0;
  bottom: 0;
  margin: auto;
}

/* line 56, style/sass/style.scss */
.mobile-nav-trigger {
  position: absolute;
  display: block;
  right: 50px;
  top: 0;
  bottom: 0;
  margin: auto;
  height: 1em;
  transition: 300ms right ease-in-out;
}
/* line 65, style/sass/style.scss */
.mobile-nav-trigger:before {
  content: "";
  font-family: "FontAwesome";
  font-size: 26px;
  color: white;
}
/* line 71, style/sass/style.scss */
.mobile-nav-trigger:hover:before {
  color: #c7c900;
}
/* line 74, style/sass/style.scss */
.nav-open .mobile-nav-trigger {
  right: 150px;
  transition-delay: 170ms;
}
/* line 77, style/sass/style.scss */
.nav-open .mobile-nav-trigger:before {
  color: #c7c900;
}

/* line 82, style/sass/style.scss */
.mobile-nav {
  position: absolute;
  width: 200px;
  height: 100%;
  top: 90px;
  right: -200px;
  background: rgba(0, 0, 0, 0.75);
  transition: right 500ms ease-in-out;
  z-index: 2000;
}
/* line 91, style/sass/style.scss */
.mobile-nav li {
  padding: 20px;
}
/* line 94, style/sass/style.scss */
.nav-open .mobile-nav {
  right: 0;
}

/* line 100, style/sass/style.scss */
.team-slider {
  position: relative;
  overflow: hidden;
}
/* line 103, style/sass/style.scss */
.team-slider:before {
  content: "#TeamNC2015";
  display: block;
  font-size: 100px;
  font-family: "Lato";
  font-weight: 300;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  height: 1em;
  z-index: 100;
  color: white;
  opacity: 1;
  transition: 500ms all ease-in-out;
}
/* line 119, style/sass/style.scss */
.team-slider:hover:before {
  top: -1000px;
  opacity: 0;
}

/* line 126, style/sass/style.scss */
.updates {
  background: #1c1c1c;
  display: block;
  padding: 25px;
  text-align: center;
}
/* line 131, style/sass/style.scss */
.updates li {
  display: inline-block;
}
/* line 133, style/sass/style.scss */
.updates li a {
  display: block;
  border: 1px solid #404040;
  padding: 20px 0;
  width: 450px;
  font-weight: 300;
}
/* line 139, style/sass/style.scss */
.updates li a strong {
  font-weight: bold;
}
/* line 142, style/sass/style.scss */
.updates li a:first-child {
  margin-right: 25px;
}

/* line 148, style/sass/style.scss */
.video-block {
  background: url("style/images/video-bg.jpg");
  text-align: center;
  padding: 100px;
}
/* line 152, style/sass/style.scss */
.video-block span {
  position: relative;
  color: white;
  text-transform: uppercase;
}
/* line 156, style/sass/style.scss */
.video-block span:before {
  content: '';
  background-image: url("style/images/play_button_white.png");
  background-size: contain;
  background-repeat: no-repeat;
  font-size: 50px;
  display: block;
  margin: auto;
  margin-bottom: 10px;
  width: 50px;
  height: 50px;
}
/* line 168, style/sass/style.scss */
.video-block span:hover:before {
  background-image: url("style/images/play_button_yellow.png");
}

/* line 173, style/sass/style.scss */
.videos {
  background: url("style/images/video-pattern.jpg");
  background-size: cover;
  padding: 50px 0;
  display: flex;
  width: 100%;
  text-align: center;
}
/* line 180, style/sass/style.scss */
.videos .video {
  flex: 1;
  position: relative;
}
/* line 183, style/sass/style.scss */
.videos .video img {
  width: 260px;
}
/* line 185, style/sass/style.scss */
.videos .video .thumb:before {
  content: '';
  background: url("style/images/play_button_red.png");
  background-size: contain;
  font-size: 50px;
  display: block;
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 50px;
  height: 50px;
}
/* line 200, style/sass/style.scss */
.videos .video .thumb:hover:before {
  background-image: url("style/images/play_button_white.png");
}

/* line 207, style/sass/style.scss */
.shop {
  position: relative;
  background-size: cover;
  white-space: nowrap;
  width: 100%;
  text-align: center;
  overflow: hidden;
  text-indent: -50px;
}
/* line 215, style/sass/style.scss */
.shop .product {
  display: inline-block;
  vertical-align: top;
  height: 300px;
  width: 240px;
  text-align: center;
  transform: skew(-18deg);
  padding: 40px 60px;
  background: white;
}
/* line 224, style/sass/style.scss */
.shop .product > * {
  transform: skew(18deg);
}
/* line 227, style/sass/style.scss */
.shop .product img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
/* line 235, style/sass/style.scss */
.shop .product:nth-child(2n) {
  background: #c7c900;
}
/* line 236, style/sass/style.scss */
.shop .product:nth-child(3n) {
  background: #404040;
}

/* line 241, style/sass/style.scss */
div.wpcf7 {
  text-align: center;
  padding: 100px 50px;
  display: block;
  background: url("style/images/contact-bg.jpg");
  background-size: cover;
}

/* line 248, style/sass/style.scss */
.wpcf7-form {
  display: inline-block;
  width: 400px;
}
/* line 251, style/sass/style.scss */
.wpcf7-form .wpcf7-form-control-wrap {
  border: 1px solid white;
  display: flex;
  width: 100%;
  padding: 10px;
  padding-right: 10px;
  margin-bottom: 1em;
}
/* line 258, style/sass/style.scss */
.wpcf7-form .wpcf7-form-control-wrap:before {
  content: '';
  display: inline-block;
  width: 2em;
  height: 2.2em;
  background-repeat: no-repeat;
  background-position: center;
}
/* line 266, style/sass/style.scss */
.wpcf7-form .wpcf7-form-control-wrap.your-name:before {
  background-image: url("style/images/icon-contacts-512.png");
}
/* line 269, style/sass/style.scss */
.wpcf7-form .wpcf7-form-control-wrap.your-email:before {
  background-image: url("style/images/icon-mail-512.png");
}
/* line 272, style/sass/style.scss */
.wpcf7-form .wpcf7-form-control-wrap.your-message:before {
  background-image: url("style/images/icon-message-512.png");
}
/* line 276, style/sass/style.scss */
.wpcf7-form input:not([type="submit"]), .wpcf7-form textarea {
  flex: 1;
  display: inline-block;
  color: white;
  border: none;
  width: 100%;
  background: none;
  text-transform: uppercase;
}
/* line 285, style/sass/style.scss */
.wpcf7-form input[type="submit"] {
  background: none;
  border: none;
  border-bottom: 1px solid white;
  color: white;
  text-transform: uppercase;
}

/* line 294, style/sass/style.scss */
.sponsors {
  background: url("style/images/sponsor-bg.jpg");
  text-align: center;
  padding: 20px;
}
/* line 299, style/sass/style.scss */
.sponsors .sponsor img {
  width: 150px;
  height: auto;
}

/* line 306, style/sass/style.scss */
footer.container {
  display: block;
  padding: 20px;
  background: black;
  position: relative;
  text-align: center;
  color: white;
  text-transform: uppercase;
}
/* line 315, style/sass/style.scss */
footer.container .logo {
  display: inline-block;
  vertical-align: middle;
  margin-right: 1em;
}
